.cartSummary {
  text-align: right;
  margin-top: 30px;
}
.cartSummary ul {
  list-style: none;
  padding: 2px;
}

.cartSummary ul li span {
  min-width: 80px;
  display: inline-block;
  font-size: 1.2em;
}

.cartSummary ul li:last-of-type span {
  font-weight: bold;
}
