.Loader {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.Loader div {
  width: 100px;
  height: 100px;
  background-color: red;
  /* margin: auto; */
}

.Loader svg {
  stroke-dasharray: 10 20;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
