button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button.btnSuccess {
  background-color: #1b9b05;
}

button.btnDanger {
  background-color: #d7263d;
}
