header {
  background-color: #5c5c5c;
}
header div a,
header nav,
header > div {
  margin: auto;
}
header nav a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
  box-shadow: 0 5px 0 #000;
  padding: 0.5em 1em;
  position: relative;
  margin: auto;
  color: #fff;
}
header nav a:hover {
  background-color: #61577a;
}
header div nav {
  margin-bottom: 10px;
  grid-row: 2;
}
header img {
  max-width: 150px;
  filter: brightness(0) invert(1);
  margin: 10px auto auto;
}
header > div.auth {
  text-align: center;
  grid-template-columns: 1fr;
}
header > div {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

header nav ul {
  margin-left: 0;
}
header nav li {
  display: inline;
  padding: 5px;
}
/* 
  Large devices (desktops, 992px and up)
  Ich würde auch in Produktion mehrere Screen Sizes implementieren. 

  *Wir müssen betrachten was für ein Costumer in dem Fall ist und 
  ein "Deep analysis" machen
 */
@media (min-width: 992px) {
  header > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
  }
  header img {
    margin-left: 10px;
  }
  header div nav {
    grid-row: 1;
    grid-column: 2;
    margin-bottom: initial;
  }

  header div a {
    margin: initial;
  }
}
