.itemWrapper {
  display: grid;
  padding: 20px;
  margin: auto;
  background-color: #f7f4f3;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.itemWrapper button {
  min-width: 100px;
  grid-column: 1/3;
  margin-top: 10px;
}

.itemWrapper div {
  background-color: #cbcbcb;
  width: 100px;
  height: 100px;
  grid-row: 1;
}

.itemWrapper ul li {
  list-style: none;
}

.itemWrapper ul li:nth-child(3) {
  font-weight: bold;
  font-size: 1.2em;
}

.itemWrapper ul {
  grid-row: 1;
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .itemWrapper {
    max-width: 900px;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .itemWrapper div {
    grid-column: 1;
  }

  .itemWrapper ul {
    grid-column: 2;
    width: 100%;
  }

  .itemWrapper button {
    grid-column: 3;
    grid-row: 1;
    height: 50px;
    align-self: center;
  }
}
